header ul {
    position: relative;
    right: 2rem;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    max-width: 250px;
}

header ul li a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: .2rem 1rem;
    border-radius: 1rem;
    transition: .3s ease;
}

header ul li a:hover {
    color: gray;
}
