@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --FONTMONTSERRAT: 'Montserrat', sans-serif;
    --FONTHIND: 'Hind', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.card {
    border: 2px solid black;
    border-radius: 1rem;
    width: 25rem;
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(33, 37, 37);
}

.card header {
    color: white;
    display: flex;
    justify-content: space-between;
}

.card header {
    font-size: 2rem;
}

.card header .header-left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.card header .header-left i,
.card header .header-right i {
    color: gold;
    font-size: 2.4rem;
}

.card header span {
    font-size: 1.5rem;
    font-family: var(--FONTMONTSERRAT);
}

.card .card-number {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--FONTMONTSERRAT);
    gap: .2rem;
    margin-top: 2rem;
}

.card .card-number .number {
    font-size: 1.3rem;
}

.card footer {
    color: white;
    font-family: var(--FONTMONTSERRAT);
    display: flex;
    justify-content: space-between;
}

.card footer .name {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: end;
}

.card footer .date {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.card footer .date span:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 600;
}