* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 2em;
}

h3{
    font-size: 1.4em;
}

p, span{
    font-size: 1em;
}

main, header, footer{
    background-color: white;
}

.name {
    padding: 25px;
    text-align: center;
    background-color: #333;
    color: red;
    font-size: 1em;
}

.judul {
    text-align: center;
    padding: 25px;
}

.tanggal {
    margin: 0 auto;
    text-align: center;
    background-color: grey;
    opacity: 0.6;
    width: 12em;
}

.boxkontak{
    padding: 1em;
}

span {
    display: flex;
    justify-content: center;
}

.kontak {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1.7em;
}

i{
    color: black;
}

.mainimg{
    width: min(80%,800px);
    height: min(50vh,380px);
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

main{
    width: min(80%,800px);
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    font-size: 1em;
    display: grid;
    row-gap: 2em;
}

iframe{
    width: 80%;
    height: 250px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    border: hidden;
}

footer{
    width: min(80%, 800px);
    padding: 2em 0;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}